.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20.5vh;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}

.title {
  margin-top: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div {
  width: 100%;
  margin-bottom: 24px;
}

.form > div > div {
  width: 100%;
}

.line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.line > span {
  color: #8585AD;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
}

.link:hover {
  color: #3e3ef5
}