.constr{
  display: flex;
  flex-flow: column;
  width: 600px;
  align-items: center;
  justify-content: flex-start;
}

.ingr{
  max-height: 8.2vh;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 49.2vh;
  overflow-y: auto;
}

.border {
  border: 2px solid #4C4CFF
}